<h2>Questions</h2>

<% @quiz.questions.each do |question| %>
	<div class="well">
		<h6><%= question.ques_name %></h6>

		<p>A. <strong><%= question.optionA %></strong> :

		<% if question.flagA %>
		Yes
		<% else %>
		No
		<% end %> </p>

		
		<p>B. <strong><%= question.optionB %></strong> :

		<% if question.flagB %>
		Yes
		<% else %>
		No
		<% end %> </p>

		
		<p>C. <strong><%= question.optionC %></strong> :

		<% if question.flagC %>
		Yes
		<% else %>
		No
		<% end %> </p>

		
		<p>D. <strong><%= question.optionD %></strong> :

		<% if question.flagD %>
		Yes
		<% else %>
		No
		<% end %> </p>

	</div>
<% end %>